// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  box-sizing: border-box;
}

$top-menu-background: #3C9CC6;

body {
  background: url("tiny_grid_@2X.png") repeat;
  font-family: Roboto;
}

.top-menu {
  background: $top-menu-background;
}